.user-auth__title {
    margin-bottom: 25px;
}

.user-auth__type {
    color: #3F51B5;
}

.user-auth__error {
    color: red;
    margin-bottom: 17px;
    text-transform: uppercase;
    font-weight: bold;
}